<div class="content" role="main">
  <div class="card">
    <div class="form-group">
      <label for="search-text">Buscar en contactos </label>
      <input type="email" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
        placeholder="Nombre, apellido" autofocus>
    </div>

    <div class="list-group list-group-flush">
      <h3>Agenda</h3>
      <div fxLayout="column" fxLayoutAlign="space-between" class="contactos">
        <div *ngFor="let contacto of [contactos, searchText] | appFilter" fxLayout="row" fxLayoutAlign="space-around" class="fila">
          <div *ngFor="let propiedad of contacto.getAll()" flex="12.5">
            {{propiedad}}
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>