.cuerpo {
    background-color: #FF7F50;
    width: 100%;
    height: 100%;
    padding: 20px;
    .consumicion * {
        margin: 5px;
    }
    .consTexto {
        display: inline-block;
    }
    th {
        font-weight: 400;
        text-decoration: underline;
    }
}
