<div class="content" role="main">
  <div class="card">
    <div class="form-group">
      <label for="search-text">Busca en nuestro catalogo de coches </label>
      <input type="email" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
        placeholder="Pa buscar, escribe yks" autofocus>
    </div>

    <ul class="list-group list-group-flush">
      NUESTROS COCHES:
      <br>
      <table>
        <thead>
          <th>Foto</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Año</th>
          <th>En venta desde</th>
          <th>Precio</th>
          <th>PVP</th>
          <th>Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor='let coche of coches | appFilter: searchText'>
            <td><img src='{{ "/assets/imagenes/" + coche.$foto }}' width="80px" /></td>
            <td>{{coche.$marca}}</td>
            <td>{{coche.$modelo}}</td>
            <td>{{coche.$fecha_modelo | date:'longDate'}}</td>
            <td>{{coche.$fecha_venta}}</td>
            <td>{{coche.$precio | currency:'EUR':'symbol':'1.0-2'}}</td>
            <td>{{coche.PVP}}</td>
            <td>
              <button type='button' (click)='rebajarCoche(coche)>Rebajar</button>
              <button  type=' button' (click)='deleteCoche(coche)'>Vender</button>
            </td>
          </tr>
          <tr>
            <td>Precio Total</td>
            <td>500€</td>
          </tr>
        </tbody>
      </table>
      <br>
    </ul>
  </div>
</div>