<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="85" fxFlexFill fxLayout="column" fxLayoutAlign="center">
    <p fxFlex fxFlexAlign="center" class="titulo">Pacientes</p>

    <div fxLayout="column" fxLayoutAlign="center space-between">
      <div fxLayout="row" fxLayoutAlign="space-around" class="fila">
        <div
          fxLayout="row"
          fxLayoutAlign="flex-start center"
          class="paciente__nombre"
        >
          <div class="paciente__propiedad">Nombre</div>
          <div class="paciente__propiedad">Apellidos</div>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-around center"
          class="paciente__comidas"
        >
          <div>Desayuno</div>
          <div>Comida</div>
          <div>Cena</div>
        </div>
        <div
          fxLayout="row"
          fxAlign="space-between center"
          class="paciente__extra"
        >
          <div>Medidas vitales</div>
          <div>En observacion</div>
        </div>
      </div>
      <div
        *ngFor="let paciente of getPacientes() | appFilter: searchText"
        fxLayout="row"
        fxLayoutAlign="space-around"
        class="fila"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="flex-start center"
          class="paciente__nombre"
        >
          <div
            *ngFor="let propiedad of paciente.getAll()"
            class="paciente__propiedad"
          >
            {{ propiedad }}
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-around center"
          class="paciente__comidas"
        >
          <div *ngFor="let comida of paciente.$comidas">
            <img src="assets/imagenes/check.svg" *ngIf="comida" alt="check" />
            <img src="assets/imagenes/close.svg" *ngIf="!comida" alt="cross" />
          </div>
        </div>
        <div
          fxLayout="row"
          fxAlign="space-between center"
          class="paciente__extra"
        >
          <div *ngIf="paciente.$oxygen">
            Nivel de oxigeno: {{ paciente.$oxygen }}
          </div>

          <div *ngIf="paciente.$pressure">
            Presion arterial: {{ paciente.$pressure }}
          </div>
          <div *ngIf="!paciente.$pressure && !paciente.$oxygen"></div>

          <div>
            <img
              src="assets/imagenes/check.svg"
              *ngIf="paciente.$observacion"
              alt="check"
            />
            <img
              src="assets/imagenes/close.svg"
              *ngIf="!paciente.$observacion"
              alt="cross"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
