<mat-toolbar>
  <!-- <img src="assets/imagenes/logo.png" /> -->
  <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 1px">
    <span class="mat-display-2">Project Alpha</span>
    <span class="header--separator"></span>
    <span class="mat-display-1">Admin</span>
  </div>
  <a href="/access">
    <mat-icon class="white-icon">logout</mat-icon>
  </a>
</mat-toolbar>
<div class="container" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="85" fxFlexFill fxLayout="column" fxLayoutAlign="center">
    <div class="titulo__container">
      <div fxFlex class="titulo">Residentes</div>
      <mat-form-field class="searchbar">
        <mat-label>Buscar residente</mat-label>
        <input matInput type="text" [(ngModel)]="searchText" />
        <button
          mat-button
          *ngIf="searchText"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchText = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="center space-between">
      <div fxLayout="row" fxLayoutAlign="space-around" class="fila">
        <div
          fxLayout="row"
          fxLayoutAlign="flex-start center"
          class="paciente__nombre"
        >
          <div class="paciente__propiedad">Nombre</div>
          <div class="paciente__propiedad">Apellidos</div>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-around center"
          class="paciente__comidas"
        >
          <div>Desayuno</div>
          <div>Comida</div>
          <div>Cena</div>
        </div>
        <div
          fxLayout="row"
          fxAlign="space-between center"
          class="paciente__extra"
        >
          <div>Medidas vitales</div>
          <div>En observacion</div>
        </div>
      </div>
      <div
        *ngFor="let paciente of getPacientes() | appFilter: searchText"
        fxLayout="row"
        fxLayoutAlign="space-around"
        class="fila"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="flex-start center"
          class="paciente__nombre"
        >
          <div
            *ngFor="let propiedad of paciente.getAll()"
            class="paciente__propiedad"
          >
            {{ propiedad }}
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-around center"
          class="paciente__comidas"
        >
          <div *ngFor="let comida of paciente.$comidas">
            <img src="assets/imagenes/check.svg" *ngIf="comida" alt="check" />
            <img src="assets/imagenes/close.svg" *ngIf="!comida" alt="cross" />
          </div>
        </div>
        <div
          fxLayout="row"
          fxAlign="space-between center"
          class="paciente__extra"
        >
          <div *ngIf="paciente.$oxygen">
            Nivel de oxigeno: {{ paciente.$oxygen }}
          </div>

          <div *ngIf="paciente.$pressure">
            Presion arterial: {{ paciente.$pressure }}
          </div>
          <div *ngIf="!paciente.$pressure && !paciente.$oxygen"></div>

          <div>
            <img
              src="assets/imagenes/check.svg"
              *ngIf="paciente.$observacion"
              alt="check"
            />
            <img
              src="assets/imagenes/close.svg"
              *ngIf="!paciente.$observacion"
              alt="cross"
            />
          </div>
        </div>
      </div>
      <div
        *ngIf="
          !(getPacientes() | appFilter: searchText) ||
          (getPacientes() | appFilter: searchText).length === 0
        "
        class="error"
      >
        No hay residentes que se ajusten a los parametros indicados
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
