.titulo {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 700;
  text-align: left;
  color: rgb(56, 175, 255);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 60px;
  line-height: 80px;
  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 2px;
    width: 80px;
    height: 8px;
    background-color: rgb(56, 175, 255);
  }
}
.paciente {
  &__propiedad {
    width: 50%;
  }
  &__nombre {
    width: 15%;
  }
  &__comidas {
    width: 45%;
  }
  &__extra {
    width: 40%;
    > :last-child {
      display: flex;
      flex-grow: 1;
      text-align: end;
      justify-content: flex-end;
      img {
        width: 25px;
      }
    }
  }
}
.fila {
  padding: 12px 20px;

  align-items: center;

  * {
    line-height: 40px !important;
  }
  &:first-of-type {
    font-weight: 700;
    font-size: large;

    color: rgb(38, 118, 172);
    font-family: "Roboto Condensed", sans-serif;
  }
  &:not(:first-of-type) {
    margin-bottom: 10px;
    border-radius: 0px;
    box-shadow: 5px 0 1px 0 rgb(56, 175, 255), -5px 0 1px 0 rgb(56, 175, 255) !important;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
}
mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px !important;
  height: auto !important;
  background: rgb(56, 175, 255) !important;
  box-shadow: -5px 0 15px 3px rgba(88, 88, 88, 0.15) !important;
  z-index: 10;
  * {
    max-height: 50px;
    font-weight: 700;
  }
  .mat-display-1,
  .mat-display-2 {
    margin: 0 !important;
    color: white !important;
    width: 25%;
  }
  .mat-display-2 {
    text-align: right;
  }
  .mat-display-1 {
    font-size: 34px !important;
    line-height: 55px;
    font-weight: 200;
  }

  .header--separator {
    width: 2px;
    background-color: white;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
