<mat-toolbar>
  <!-- <img src="assets/imagenes/logo.png" /> -->
  <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 1px">
    <span class="mat-display-2">Project Alpha</span>
    <span class="header--separator"></span>
    <span class="mat-display-1">Familia</span>
  </div>
  <a href="/access">
    <mat-icon class="white-icon">logout</mat-icon>
  </a>
</mat-toolbar>
<div class="container" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="85" fxFlexFill fxLayout="column" fxLayoutAlign="center">
    <div fxFlex class="titulo">Familiares</div>

    <div fxLayout="column" fxLayoutAlign="center space-between">
      <div fxLayout="row" fxLayoutAlign="space-around" class="fila">
        <div
          fxLayout="row"
          fxLayoutAlign="flex-start center"
          class="paciente__nombre"
        >
          <div class="paciente__propiedad">Nombre</div>
          <div class="paciente__propiedad">Apellidos</div>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-around center"
          class="paciente__comidas"
        >
          <div>Desayuno</div>
          <div>Comida</div>
          <div>Cena</div>
        </div>
        <div
          fxLayout="row"
          fxAlign="space-between center"
          class="paciente__extra"
        >
          <div>Acciones</div>
        </div>
      </div>
      <div
        *ngFor="let paciente of getPacientes()"
        fxLayout="row"
        fxLayoutAlign="space-around"
        class="fila"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="flex-start center"
          class="paciente__nombre"
        >
          <div
            *ngFor="let propiedad of paciente.getAll()"
            class="paciente__propiedad"
          >
            {{ propiedad }}
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-around center"
          class="paciente__comidas"
        >
          <div *ngFor="let comida of paciente.$comidas">
            <img src="assets/imagenes/check.svg" *ngIf="comida" alt="check" />
            <img src="assets/imagenes/close.svg" *ngIf="!comida" alt="cross" />
          </div>
        </div>
        <div
          fxLayout="row"
          fxAlign="space-between center"
          class="paciente__extra"
        >
          <a fxLayout="row" fxAlign="center" class="action"
            ><mat-icon class="blue-icon">phone</mat-icon><span>Llamar</span></a
          >

          <a fxLayout="row" fxAlign="center" class="action"
            ><mat-icon class="blue-icon">message</mat-icon><span>Chat</span></a
          >
        </div>
      </div>
      <div class="error" *ngIf="!getPacientes() || getPacientes().length === 0">
        No hay residentes que se ajusten a los parametros indicados
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
