<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="66" fxFlexFill fxLayout="column" fxLayoutAlign="center">
    <p fxFlex fxFlexAlign="center" class="titulo">Nuevo Contacto</p>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Datos personales</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="column" fxLayoutAlign="center">
        <mat-form-field
          ><input
            matInput
            type="text"
            placeholder="Nombre"
            [(ngModel)]="contacto.$nombre"
            name="nombre"
        /></mat-form-field>
        <mat-form-field
          ><input
            matInput
            type="text"
            placeholder="Apellidos"
            [(ngModel)]="contacto.$apellido"
            name="nombre"
        /></mat-form-field>
        <mat-form-field
          ><input
            matInput
            type="text"
            placeholder="Direccion"
            [(ngModel)]="contacto.$direc"
            name="nombre"
        /></mat-form-field>
        <mat-form-field
          ><input
            matInput
            type="number"
            placeholder="Teléfono"
            [(ngModel)]="contacto.$telf"
            name="telefono"
        /></mat-form-field>
        <mat-form-field
          ><input
            matInput
            type="date"
            placeholder="Cumpleaños"
            [(ngModel)]="contacto.humanDate"
            name="cumple"
        /></mat-form-field>
        <mat-form-field
          ><input
            matInput
            type="text"
            placeholder="Empresa y cargo"
            [(ngModel)]="contacto.$emp"
            name="emp"
        /></mat-form-field>
        <mat-form-field
          ><input
            matInput
            type="text"
            placeholder="Conocimiento extra"
            [(ngModel)]="contacto.$knol"
            name="cono"
        /></mat-form-field>
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <mat-select [(ngModel)]="contacto.$tipo" name="tipo">
            <mat-option
              *ngFor="let tipo of getTipos(); let i = index"
              [value]="i"
            >
              {{ tipo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <div fxLayout="row" style="margin-top: 50px">
      <div fxFlex fxLayoutAlign="center">
        <button (click)="aceptar()" mat-flat-button color="primary">
          Aceptar
        </button>
      </div>
      <div fxFlex fxLayoutAlign="center">
        <button (click)="cancelar()" mat-flat-button color="primary">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
