.form-group{
    background-color: rgb(255, 121, 97);
    text-align: center;
    padding:20px;
    border: 2px solid black;
}
    .form-group input{
        width:200px;
        border: 1px solid black;
    }

.list-group-flush{
    border: 2px solid black;
    background-color: rgb(255, 121, 97);
}
    .list-group-flush h3{
        text-align: center;
        padding:-2px
    }
    .list-group-flush table{
        border: 2px solid black;
        margin-left: auto;
        margin-right: auto;
    }
        .list-group-flush table th{
            border: 2px solid black;
        }
        .list-group-flush table td{
            border: 2px solid black;
        }  