<!-- <div class="popup">
  <div class="popup__content">
    <h1>Recomendación del día</h1>
    <h3>Nuevo juego!</h3>
    <h4>Juega al ajedrez</h4>
    <img src="assets/imagenes/chess.jpg" alt="chess" />
  </div>
</div> -->
<div class="content" role="main">
  <mat-grid-list cols="6" rowHeight="49.8%">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
    >
      <div class="grid__container">
        <div class="grid__container__content">
          <img alt="icon" src="{{ tile.src }}" />
          <h1>{{ tile.text }}</h1>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
